
h1 {
  background-color: #011b2c; 
  color: #fff; 
  text-align: center;
}

table {
  width: 200px;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
